@{    
    ViewBag.Message = "The website is for people who wants to buy either desktop or laptop but wants to customize by themselves. People are able to customize computers by their own, rate and share the customized ones of others.";
    ViewBag.PadTitle = "About";
}

<article>
    <p>
        @ViewBag.Message
    </p>
</article>

<hgroup class="title">
    <h1>Author Information</h1>
</hgroup>
<article>
    <p>
        Name: Zhichao Cao
    </p>

    <p>
        Email: zc77@drexel.edu
    </p>

    <p>
        Description: Final project for the class CS575 - Software Design.
    </p>
</article>
